@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap');
:root {
  --sidebar-flex:1.5;
  --condiv-flex:6;
  --fontsize-p:1.2rem;
  --fontsize-nav:1.6rem;
  --typing-font:3rem;
}
* {
  margin:0;
  padding: 0;
  line-height: 1.5em;
}

body {
  font-family: 'Raleway';
}

section {
  display: inline-flex;
  margin-top: 15px;
}

p {
  font-size: var(--fontsize-p);
  font-weight: 400;
}

.App {
  display: flex;
  width: 100vw;
  min-height: 100vh;
}
/* .condiv class is for the right side content container*/
.condiv {
  padding: 100px ;
  background-color: #eee;
  flex:var(--condiv-flex);
}

nav {
  padding:60px 30px 0px 30px ;
  flex:var(--sidebar-flex);
  background-image: linear-gradient(to top, #680270, #720171, #7c0071, #850071, #8e0071, #950072, #9c0173, #a30274, #a90277, #b0027b, #b6017e, #bd0181);
}

nav ul {
  font-size:var(--fontsize-nav) ;
  list-style-type: none;
}

nav ul li {
  margin:40px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  font-weight: 700;
}

.home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}
.profilePic {
  border-radius: 50%;
  width: 350px;
  margin-bottom: 30px;
}

.typingEffect {
  font-size: var(--typing-font);
  margin: 0 0 160px 0;
}

.social {
  position: absolute;
  margin-top: 20px;
  display: flex;
  bottom: 60px;
}

.social i {
  padding-right: 20px;
  font-size: 25px;
  color: #9a9b9c;
}

.social i:hover {
  color:  rgb(189, 1, 129);
}

.subtopic {
  margin:10px 10px 30px 0px !important;
}

.widecard {
  display: flex;
  margin:30px 0px 30px 0px;
  width: 80%;
}

/* .widecard:hover {
  color: #1b1d20;
  padding: 2px;
  background-color: #fafafa;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
} */

.aboutMe {
  color: rgb(189, 1, 129);
}

.xpTitle {
  color: rgb(189, 1, 129);
}

.during {
  font-style: italic;
  font-size: 1rem;
  margin-top: 5px;
}

.skills ul {
  margin: 0 90px 0 0;
}

.skills ul li {
  list-style-type:none;
  margin: 10px 10px 10px 0;
  font-size: 1.2rem;
}

.skillTitle {
  color: rgb(189, 1, 129);
}

.gif {
  margin-top: 60px;
  max-width: 100%;
}

.yoga {
  margin-bottom: 45px;
  width: 400px;
}

.instagram {
  text-decoration: none;
  font-weight: 600;
  color: rgb(189, 1, 129);
}

.instagram:hover{
  color:#680270;
}

.mail {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
  color: rgb(189, 1, 129);
}

.mail:hover {
  color:#680270;
}

.card {
  margin: 40px 85px 40px 0px;
  display: inline-block;
  width: 310px;
  box-shadow: 10px 5px 25px 7px grey;
}

.card-header {
  height: 150px;
  padding: 15px;
  width: 100%;
  background-size: cover;
  color: #fff;
}

.card-body {
  padding: 15px;
  background-color: #fff;
  width: 100%;
}

.body-content {
  padding: 30px 0 30px 0;
  font-size: 18px;
  line-height: 1.5;
}

.category {
  text-transform: uppercase;
  margin: 0;
  color: darkgrey;
}

.button-primary {
  text-decoration: none;
  border: none;
  box-shadow: none;
  background-color: transparent;
  color:  rgb(189, 1, 129);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  cursor: pointer;
}

.button-primary:hover {
  color:#680270;
}


.button-primary i {
  padding-right: 4px;
}

.mini {
  width: 10%;
  position: absolute;
  left: 85%;
  bottom: 3%;
  cursor: pointer;
  display: block;
}


/* Ipad Pro */
@media (min-width: 900px) and (max-width: 1024px){

  nav {
    padding: 25% 2% 25% 2%;
  }

  .condiv {
    padding: 80px 40px 40px 40px;
  }

  .typingEffect {
    margin: 0 0 55% 0;
    font-size: 2.5rem;
}

  .profilePic {
    margin-bottom: 45px;
  }

  section {
    display: block;
  }

  .hobby {
    margin-bottom: 60px;
  }

  .gif {
    margin-bottom: 130px;
  }
}

/* Ipad */
@media (min-width: 768px) and (max-width: 900px){

  nav {
    padding: 25% 2% 25% 2%;
  }

  .condiv {
    padding: 80px 40px 40px 40px;
  }

  .typingEffect {
    margin: 0 0 165px 0;
    font-size: 2.5rem;
}

  .profilePic {
    margin-bottom: 35px;
  }

  section {
    display: block;
  }

  .hobby {
    margin-bottom: 60px;
  }

  .gif {
    margin-bottom: 130px;
  }
}

/* Smartphone */
@media (min-width: 320px) and (max-width: 480px){}

