@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap');
:root {
  --sidebar-flex:1.5;
  --condiv-flex:6;
  --fontsize-p:1.2rem;
  --fontsize-nav:1.6rem;
  --typing-font:3rem;
}
* {
  margin:0;
  padding: 0;
  line-height: 1.5em;
}

body {
  font-family: 'Raleway';
}

section {
  display: inline-flex;
  margin-top: 15px;
}

p {
  font-size: var(--fontsize-p);
  font-weight: 400;
}

.App {
  display: flex;
  width: 100vw;
  min-height: 100vh;
}
/* .condiv class is for the right side content container*/
.condiv {
  padding: 100px ;
  background-color: #eee;
  flex:var(--condiv-flex);
}

nav {
  padding:60px 30px 0px 30px ;
  flex:var(--sidebar-flex);
  background: rgb(238,103,143);
  background: linear-gradient(180deg, rgba(238,103,143,1) 50%, rgba(132,124,252,1) 80%);
}

nav ul {
  font-size:var(--fontsize-nav) ;
  list-style-type: none;
}

nav ul li {
  margin:40px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  font-weight: 700;
}

.home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}
.profilePic {
  border-radius: 50%;
  width: 350px;
  margin-bottom: 30px;
}

.typingEffect {
  font-size: var(--typing-font);
  margin: 0 0 160px 0;
}

.social {
  position: absolute;
  margin-top: 20px;
  display: flex;
  bottom: 60px;
}

.social i {
  padding-right: 30px;
  font-size: 25px;
  color: #9a9b9c;
}

.social i:hover {
  color: rgb(238,103,143);
}

.subtopic {
  margin:10px 10px 30px 0px !important;
}

.widecard {
  display: flex;
  margin:30px 0px 30px 0px;
  width: 80%;
}

.widecard:hover {
  color: #1b1d20;
  padding: 2px;
  background-color: #fafafa;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.aboutMe {
  color:rgb(238,103,143);
}

.xpTitle {
  color:rgb(238,103,143);
}

.during {
  font-style: italic;
  font-size: 1rem;
  margin-top: 5px;
}

.skills ul {
  margin: 0 90px 0 0;
}

.skills ul li {
  list-style-type:none;
  margin: 10px 10px 10px 0;
  font-size: 1.2rem;
}

.skillTitle {
  color:rgb(238,103,143);
}

.gif {
  margin-top: 60px;
}

.yoga {
  margin-bottom: 45px;
  width: 400px;
}

.instagram {
  text-decoration: none;
  font-weight: 600;
  color:rgb(238,103,143);
}

.instagram:hover{
  color:rgba(132,124,252,1);
}

.mail {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
  color:rgb(238,103,143);
}

.mail:hover {
  color:rgba(132,124,252,1);
}